# Git
.git
.gitignore

# IDE
.idea
*.iml
*.ipr
*.iws
.vscode

# Maven
.mvn
mvnw
mvnw.cmd
target
!target/*.jar

# Documentation
HELP.md
README.md

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Misc
*.log
*.tmp
.DS_Store
